@import url(Roboto-Regular.ttf);
*{
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}




#Index{

    background-image: url(f1.jpeg);
    background-color: #666999;

}

img{
    width: 100%;
    
    
}

/*---------------Estilos de place holder---------------*/
::placeholder{
    text-align: center;

}

/*Aqui empiezan mis estilos para hacer la pagina responsiva de manera movil*/

/*------------------Estilos del header------------------*/
.logo{
    display: block;
    width: 60px;
    max-width: 100px;
    min-width: auto;
}


.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}


   
    .main-header{
    
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.25);
    }
    
    .container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    height: auto;
        
}
    
  
/*------------Estilos del login form------------*/
.GestionCamp{
    align-items: center;
    margin: 0;
    font-size: 15px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 8px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
/*-------------------------------Estilos del menu-------------------------------*/
.Menu_menu{
    margin-top: 110px;
    margin-left: 50px;
    align-content: center;
    
}

.Asig_camp{

    width: 150px;
    height: 150px;
}


/*----------------------------Estilos del formulario----------------------------*/

.Formulario_formulario{
    margin-top: 20px;
    margin-left: 30px;


}
.Dat_alum{
    font-size: 15px;
    margin-bottom: 5px;
}
.Dat_campo{
    font-size: 15px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
   
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_Nombre,.form_telcel,.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 3px;
    width: 322px;
}

.form_Numcuenta,.form_cuatri,.form_Ap,.form_Am,.form_email,.form_telfijo,.form_horarioA{
    border-radius: 8px;
}

.form_Horario{
    margin-top: 8px;
    margin-bottom: 8px;
}
.form_horarioDe{
    margin-right: 36px;
    border-radius: 8px;
}
    .LabelHorario{
    margin-right: 500px;
        margin-left: 145px;
    }
.labelDe,.labelA{
    
    font-size: 14px
}

.botones{

    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.formCancelar{
    height: 30px;
    margin-left: 70px;
    background: #E15050;
    color: white;

    border-radius: 8px;
}

.formContinuar{
        height: 30px;
    background: #2E9F26;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
}




/*-----------------------------Estilos medios-----------------------------*/
@media only screen and (min-width: 470px){
/*--------------------Estilos base--------------------*/    
.logo{
    display: block;
    width: 90px;
    max-width: 100px;
    min-width: auto;
}

/*-----------------------Estilos header-----------------------*/
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}

.main-header{

    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.25);

}

/*------------Estilos del login form------------*/
.GestionCamp{
    align-items: center;
    margin: 0;
    font-size: 23px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 15px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
    .Menu_menu{
    margin-top: 110px;
    margin-left: 90px;
    align-content: center;
    
}

.Asig_camp{

    width: 170px;
    height: 170px;
}
    /*----------------------------Estilos del formulario----------------------------*/

.Formulario_formulario{
    
    margin-top: 20px;
    margin-left: 150px;


}
.Dat_alum{
    font-size: 20px;
    margin-bottom: 5px;
}
.Dat_campo{
    font-size: 20px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
    
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_Nombre,.form_telcel,.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 3px;
    width: 480px;
    height: 25px;
}

.form_Numcuenta,.form_cuatri,.form_Ap,.form_Am,.form_email,.form_telfijo{
    border-radius: 8px;
    width: 240px;
    height: 25px;
}

.form_Horario{
    margin-top: 8px;
    margin-bottom: 8px;
}

.form_horarioA{
    border-radius: 8px;
    width: 197px;
    height: 25px;
}
.form_horarioDe{
    width: 197px;
    margin-right: 36px;
    border-radius: 8px;
    height: 25px;
}
    .LabelHorario{
        margin-left: 222px;
        
    }
.labelDe,.labelA{
    
    font-size: 14px
}

.botones{

    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.formCancelar{
    height: 30px;
    margin-left: 150px;
    background: #E15050;
    color: white;

    border-radius: 8px;
}

.formContinuar{
        height: 30px;
    background: #2E9F26;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
}

    
    }





/*-----------------------------Estilos PC-----------------------------*/
@media only screen and (min-width: 920px){
/*--------------------Estilos base--------------------*/    
.logo{
    display: block;
    width: 100px;
    max-width: 100px;
    min-width: auto;
}

/*-----------------------Estilos header-----------------------*/
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}

.main-header{

    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.25);

}

/*------------Estilos del login form------------*/
.GestionCamp{
    align-items: center;
    margin: 0;
    font-size: 30px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 20px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
    .Menu_menu{
    margin-top: 110px;
    margin-left: 100px;
    align-content: center;
    
}

.Asig_camp{

    width: 200px;
    height: 200px;
}
    /*----------------------------Estilos del formulario----------------------------*/

.Formulario_formulario{
    margin-top: 70px;
    margin-left: 320px;


}
.Dat_alum{
    font-size: 30px;
    margin-bottom: 5px;
}
.Dat_campo{
    font-size: 30px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
    
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 8px;
    width: 860px;
    height: 25px;
}
 .form_email{
    margin-top: 5px;
    width: 200px;
    height: 25px;
    
    }
   .form_telcel{
    margin-left: 130px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    .form_telfijo{
    margin-left: 130px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    
    .form_Nombre{
    margin-left: 65px;
    width: 200px;
    height: 25px;
        
    }

.form_Ap{

    margin-top: 5px;
    width: 200px;
    height: 25px;
}
    .form_Am{
    margin-left: 130px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    
 .form_Numcuenta{
    border-radius: 8px;
    width: 200px;
    height: 25px;
    }
    .form_cuatri{
        margin-left: 460px;
        width: 200px;
            
    }

.form_Horario{


    margin-top: 8px;
    margin-bottom: 8px;
}
.form_horarioA{
    border-radius: 8px;
    width: 199px;
    height: 25px;
}
.form_horarioDe{
    width: 199px;
    margin-right: 415px;
    border-radius: 8px;
    height: 25px;
}
    .LabelHorario{
        margin-left: 400px;
        margin-right: 6000px;
        
    }
.labelDe.labelA{
    
    font-size: 14px
}

.botones{
    margin-left: 595px;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.formCancelar{
    height: 30px;
    margin-left: 70px;
    background: #E15050;
    color: white;

    border-radius: 8px;
}

.formContinuar{
        height: 30px;
    background: #2E9F26;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
}

    
    }