@import url(Roboto-Regular.ttf);
*{
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}




#Index{

    background-image: url(f1.png);
    background-color: #666999;

}

#menu{
    background-image: url(f5.jpg);
    background-color: #FFFFFF;
    
}

img{
    width: 100%;
    
    
}



/*---------------Estilos de place holder---------------*/
::placeholder{
    text-align: center;

}

/*Aqui empiezan mis estilos para hacer la pagina responsiva de manera movil*/

/*------------------Estilos del header------------------*/
.logo{
    display: block;
    width: 60px;
    max-width: 100px;
    min-width: auto;
}


.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}

.iconoMenu{
    text-decoration: none;
        color: white;
        font-size: 30px;
        margin-right: 7px;
       
    }



   
    .main-header{
    
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.25);

    }
    
    
        

    
  
/*------------Estilos del login form------------*/
.iconoMenu{
    margin: 0;
    
}
.GestionCamp{
    align-items: center;
    margin: 0;
    font-size: 15px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 8px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
/*-------------------------------Estilos del menu-------------------------------*/
.Menu_menu{
    margin-top: 110px;
}

.TablaMenu{
    background: rgba(0,0,0,.10);
    margin: 0 auto;
    max-width: 1024px;

}

.Asig_camp{

    width: 150px;
    height: 150px;
}


/*----------------------------Estilos del formulario----------------------------*/

    .TablaFormAlumno{
        margin: 0 auto;
        text-align: center;
        background: rgba(255,255,255,.25)
    }
.Formulario_formulario{
    margin-top: 20px;



}
.Dat_alum{
    font-size: 15px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.Dat_campo{
    font-size: 15px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
   
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_Nombre,.form_telcel,.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 3px;
    width: 322px;
}

.form_Numcuenta,.form_cuatri,.form_Ap,.form_Am,.form_email,.form_telfijo,.form_horarioA{
    border-radius: 8px;
}

.form_Horario{
    margin-top: 8px;
    margin-bottom: 8px;
}
.form_turnos{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.Horas{
    margin-left: 130px;
    border-radius: 8px;

    }
    
    .Turnos{
    border-radius: 8px;


    }
.LabelHorario{
        text-align: center;
        
    }

.botones{

    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.formCancelar{
    height: 30px;
    margin-left: 70px;
    background: #E15050;
    color: white;
    border: 0;
    border-radius: 8px;
}

.formContinuar{
        height: 30px;
    background: #2E9F26;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
    border: 0;
}

.TituloCampos,.TituloEditarUsuarios,.TituloAltaUsuarios{

    text-align: center;
        font-size: 15px;
        margin-bottom: 50px;
    }
.TituloCampos2{
        
        margin: 0 auto;
    background: rgba(255,255,255,.25);
        
    }
    
    .TablaCampos{
        background: rgba(255,255,255,.25);
        margin: 0 auto;
        text-align: justify;
    }
    

    
    .CampoEliminar{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f44141;
        border: 0;
    }
    .TablaAltaCampos{
        margin-top: 100px;
        margin: 0 auto;
        background: rgba(255,255,255,.25)
        
    }
    .AltaNombreCamp,.AltaDireccion,.AltaFecha{
        width:380px;
        height: 25px;
        border-radius: 8px;
    }
    .AltaHor{
        font-size: 15px;
        margin-left: 180px;
    }
    .AltaTurnos, .AltaGrado{
        width: 100px;
        height: 25px;
        border-radius: 8px;
        margin-bottom: 20px;
        
    }
    .AltaHorarios,.AltaLugares{
       width: 100px;
        height: 25px;
        border-radius: 8px;
        margin-left: 170px;
    }
    .AltaGuardar{
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaCancelar{
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }
    .TablaAlumnos,.TablaAltaUsuarios{
        margin: 0 auto;
        text-align: center;
        background: rgba(255,255,255,.25)
    }
.TablaEditarUsuarios{
    margin: 0 auto;
        text-align: justify;
        background: rgba(255,255,255,.25)
}
        
    .TituloEditAlum{
        font-size: 18px;

        text-align: center;
    }
    
    .TextEditAlum{
        font-size: 15px;
        
    }
    #BusquedaAlumno{
        margin-top: 25px;
        height: 25px;
        border-radius: 8px;
    }
    .ButtonBuscarAlum{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #3e73a3;
        border: 0;
        
    }
    .ButtonEditar{

        border: 0;
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f4c842;
    }
.UsuarioAlta{
    width: 250px;
    height: 25px;
    margin-left: 13px;
    border-radius: 8px; 
    margin-bottom: 25px;

    }
    .AltaUsuarioGuardar{
        width: 90px;
        height: 25px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaUsuarioCancelar{
        
        margin-right: 10px;
        width: 90px;
        height: 25px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }

.TablaAlumnos1,.TablaAlumnos2,.TablaCargaDeArchivo{

        margin: 0 auto; text-align: center;
    }
    
    .TablaAlumnos2,.TablaCampos{
        margin: 0 auto; text-align: center;
        background: rgba(255,255,255,.65)

    }
.TablaCargaDeArchivo{
  background: rgba(255,255,255,.65);
}
    .BtnTablaAlumno{
        width: 120px;
        height: 27px;
        background: rgb(91, 183, 88);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border:0;
        
    }
    
    .BtnTablaCampos{
        width: 120px;
        margin-left: 30px;
        height: 27px;
        background: rgb(183, 74, 44);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
    }
    
    .ButtonCarga{
        background: rgb(237, 97, 97);
        height: 27px;
        border: 0;
        width: 180px;
        color: white;
        border-radius: 8px;
    }
    .TextCiclo{
        height: 27px;
        border: 0;
        width: 210px;
        color: white;
        border-radius: 8px;
        text-align: center;
    }
    
    .Ciclos{
        border: 0;
        text-align: center;
        border-radius: 8px;
        height: 20px;
    }
    .buttonAgregar{
        margin-left: 15px;
        margin-right: 15px;
        border: 0;
        border-radius: 8px;
        width: 25px;
        background: rgb(209, 64, 79);
        color: white
    }
    .TablaParaCarga,.TablaBaseAlumno{
        margin-left: 0%;
    }
    .TablaParaCarga2,.TablaBaseCampos{
        margin-left: -1000%
    }
    
    .mostrar{
        margin-left: 0%;
    }
    
    .ocultar{
        margin-left: -1000%;
    }
    
   
  
    
    .TablaBaseCampos{
        z-index: 1;
        margin-top: -115px;
    }
    .TablaParaCarga2{
        z-index: 1;
        margin-top: -137px;
    }
    







/*-----------------------------Estilos medios-----------------------------*/
@media only screen and (min-width: 460px){
/*--------------------Estilos base--------------------*/    
.logo{
    display: block;
    width: 90px;
    max-width: 100px;
    min-width: auto;
}

/*-----------------------Estilos header-----------------------*/
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}

.main-header{

    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.25);

}
    
    .iconoMenu{
    text-decoration: none;
        color: white;
        font-size: 30px;
        margin-right: 7px;
       
    }

/*------------Estilos del login form------------*/
.GestionCamp{
    align-items: center;
    margin: 0;
    font-size: 23px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 15px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
    .Menu_menu{
    margin-top: 110px;
    margin-left: 90px;
    align-content: center;
    
}

.Asig_camp{

    width: 170px;
    height: 170px;
}
    /*----------------------------Estilos del formulario----------------------------*/
    .TablaFormAlumno{
        margin: 0 auto;
        background: rgba(255,255,255,.25)
    }

.Formulario_formulario{
    
    margin-top: 20px;



}
.Dat_alum{
    font-size: 20px;
    margin-bottom: 5px;
}
.Dat_campo{
    font-size: 20px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
    margin-left: 100px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_Nombre,.form_telcel,.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 3px;
    width: 480px;
    height: 25px;
}

.form_Numcuenta,.form_cuatri,.form_Ap,.form_Am,.form_email,.form_telfijo{
    border-radius: 8px;
    width: 240px;
    height: 25px;
}

.form_Horario{
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.form_turnos{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.Horas{
    margin-left: 80px;
    border-radius: 8px;
    width: 199px;
    height: 25px;
    }
    
    .Turnos{
    border-radius: 8px;
    width: 199px;
    height: 25px;
    }

    .LabelHorario{
       text-align: center;
        
    }

.botones{

    position:relative;
    display:flex;
    flex-wrap: wrap;
    float: left;

}
.formCancelar{
    height: 30px;
    margin-left: 150px;
    background: #E15050;
    color: white;

    border-radius: 8px;
}

.formContinuar{
        height: 30px;
    background: #2E9F26;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
}
    
    .TituloCampos,.TituloEditarUsuarios,.TituloAltaUsuarios{
        font-size: 30px;

        text-align: center;
        margin-bottom: 50px;
    }
    .TituloCampos2{
        background: rgba(255,255,255,.25);
        margin: 0 auto;
        
    }
    .TablaCampos{
        background: rgba(255,255,255,.25);
        margin: 0 auto;
        text-align: justify;
    }
    

    
    .CampoEliminar{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f44141;
        border: 0;
    }
    .TablaAltaCampos{
        margin-top: 100px;
        margin: 0 auto;
        background: rgba(255,255,255,.25);
    }
    .AltaNombreCamp,.AltaDireccion,.AltaFecha{
        width:800px;
        height: 25px;
        border-radius: 8px;
    }
    .AltaHor{
        margin-left: 380px;
    }
    .AltaTurnos, .AltaGrado{
        width: 200px;
        height: 25px;
        border-radius: 8px;
        margin-bottom: 20px;
        
    }
    .AltaHorarios,.AltaLugares{
       width: 200px;
        height: 25px;
        border-radius: 8px;
        margin-left: 395px;
    }
    .AltaGuardar{
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaCancelar{
        margin-top: 20px;
        margin-left: 605px;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }
    .TablaAlumnos,.TablaAltaUsuarios{
        margin: 0 auto;
        text-align: center;
        background: rgba(255,255,255,.25)
    }
    .TablaEditarUsuarios{
        margin: 0 auto;
        text-align: justify;
        background: rgba(255,255,255,.25) 
    }
    
    .TituloEditAlum{
        font-size: 30px;
        
        text-align: center;
    }
    
    .TextEditAlum{
        font-size: 17px;
        
    }
    #BusquedaAlumno{
        margin-top: 25px;
        height: 25px;
        border-radius: 8px;
    }
    .ButtonBuscarAlum{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #3e73a3;
        border: 0;
        
    }
    .ButtonEditar{

        border: 0;
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f4c842;
    }
    .UsuarioAlta{
    width: 250px;
    height: 32px;
    margin-left: 13px;
    border-radius: 8px; 
    margin-bottom: 25px;

    }
    .AltaUsuarioGuardar{
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaUsuarioCancelar{
        
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }
    
    .TablaAlumnos1,.TablaAlumnos2,.TablaCargaDeArchivo{

        margin: 0 auto; text-align: center;
    }
    
    .TablaAlumnos2,.TablaCampos{
        background: rgba(255,255,255,.65)

    }
    .BtnTablaAlumno{
        width: 120px;
        height: 27px;
        background: rgb(91, 183, 88);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border:0;
        
    }
    
    .BtnTablaCampos{
        width: 120px;
        margin-left: 30px;
        height: 27px;
        background: rgb(183, 74, 44);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
    }
    
    .ButtonCarga{
        background: rgb(237, 97, 97);
        height: 27px;
        border: 0;
        width: 180px;
        color: white;
        border-radius: 8px;
    }
    .TextCiclo{
        height: 27px;
        border: 0;
        width: 210px;
        color: white;
        border-radius: 8px;
        text-align: center;
    }
    
    .Ciclos{
        border: 0;
        text-align: center;
        border-radius: 8px;
        height: 20px;
    }
    .buttonAgregar{
        margin-left: 15px;
        margin-right: 15px;
        border: 0;
        border-radius: 8px;
        width: 25px;
        background: rgb(209, 64, 79);
        color: white
    }
    .TablaParaCarga,.TablaBaseAlumno{
        margin-left: 0%;
    }
    .TablaParaCarga2,.TablaBaseCampos{
        margin-left: -1000%
    }
    
    .mostrar{
        margin-left: 0%;
    }
    
    .ocultar{
        margin-left: -1000%;
    }
    
   
  
    
    .TablaBaseCampos{
        z-index: 1;
        margin-top: -115px;
    }
    .TablaParaCarga2{
        z-index: 1;
        margin-top: -137px;
    }
    
    
    }





/*-----------------------------Estilos PC-----------------------------*/
@media only screen and (min-width: 920px){
/*--------------------Estilos base--------------------*/    
.logo{
    display: block;
    width: 100px;
    max-width: 100px;
    min-width: auto;
}

/*-----------------------Estilos header-----------------------*/
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: auto;
    height: auto;
        
}
    .iconoMenu{
    text-decoration: none;
        color: white;
        font-size: 30px;
        margin-right: 7px;
        cursor: pointer;
       
    }

.main-header{

    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.25);

}

/*------------Estilos del login form------------*/
.GestionCamp{
    justify-content: center;
    margin: 0;
    font-size: 30px; 
    color: #FFFFFF;

}

.Nutricion{
    font-size: 20px;
    color: #FFFFFF;
}



.Login_login{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
}
.Login{

    align-content: center;
    background: rgba(0,86,255,0.25);
    width: 300px;

    
}


.Login_button{
    background: #CE4E51;
    color: #FFFFFFFF;
    margin-left: 13px;
    border-radius: 8px;
    height: 30px;
    width: 90%;
    border: 0;
    
}

.Login__user{
    width: 90%;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px;  
    border: 0;
    
    
}

.Login_logo{
    margin-left: 90px;
    width: 100px;
    
}

#redonda {
    
    width:115px;
    height:115px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden;
    background: white;/* Evitar que el contenido se visualice fuera del borde*/
  }
    .Menu_menu{
    margin-top: 110px;
    margin-left: 100px;
    align-content: center;
    
}

.Asig_camp{

    width: 200px;
    height: 200px;
}
    /*----------------------------Estilos del formulario----------------------------*/
    .TablaFormAlumno{
        margin: 0 auto;
        background: rgba(255,255,255,.25)
    }

.Formulario_formulario{
    margin-top: 70px;



}
.Dat_alum{
    font-size: 30px;
    margin-bottom: 5px;
}
.Dat_campo{
    font-size: 30px;
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}


.columna_1,.columna_2,.columna_3,.columna_4,.columna_5,.columna_6,.columna_7,.columna_8,.botones{
    
    margin-bottom: 5px;
    position:relative;
    display:inline-flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.form_telemergencia,.form_Telfamiliar,.form_lugar,.Form_FechaPresentacion, .FechaPrac,.Form_Dir{
    border-radius: 8px;
    margin-top: 8px;
    width: 860px;
    height: 25px;
}
 .form_email{
    margin-top: 5px;
    width: 200px;
    height: 25px;
    
    }
   .form_telcel{
    margin-left: 125px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    .form_telfijo{
    margin-left: 130px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    
    .form_Nombre{
    margin-left: 125px;
    width: 200px;
    height: 25px;
        
    }

.form_Ap{

    margin-top: 5px;
    width: 200px;
    height: 25px;
}
    .form_Am{
    margin-left: 130px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    }
    
 .form_Numcuenta{
    border-radius: 8px;
    width: 200px;
    height: 25px;
    }
    .form_cuatri{
        margin-left: 460px;
        width: 200px;
            
    }

.form_Horario{


    margin-top: 8px;
    margin-bottom: 8px;
}
.Turnos{
    border-radius: 8px;
    width: 199px;
    height: 25px;
}
.Horas{
    
    width: 199px;
   margin-left: 460px;
    border-radius: 8px;
    height: 25px;
}
    .LabelHorario{
    text-align: center;

        
    }


.botones{
    justify-content: center;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    margin-right: 10px;
    float: left;
}
.formCancelar{
    
    height: 30px;
    margin-left: 666px;
    background: #ce5858;
    color: white;

    border-radius: 8px;
}

.formContinuar{
     height: 30px;
    background: #58ce64;
    color: white;
    margin-left: 10px;;
    border-radius: 8px;
}
    Ta
    .TituloEditarUsuarios,.TituloAltaUsuarios{

        text-align: center;
        margin-bottom: 50px;
    }
    .TituloCampos{
        text-align: center;
        margin-bottom: 50px;
    }
    .TituloCampos2{
        background: none;
        margin: 0 auto;
        
    }

    
    .TablaCampos{
        text-align: justify;
        background: rgba(255,255,255,.25);
        margin: 0 auto;
    }
    
    .CampoClinico{
        width: 600px;
    }
    
    .CampoEliminar{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f44141;
        border: 0;
    }
    .TablaAltaCampos{
        
        margin: 0 auto;
        background: rgba(255,255,255,.25);
    }
    .AltaNombreCamp,.AltaDireccion,.AltaFecha{
        width:800px;
        height: 25px;
        border-radius: 8px;
    }
    .AltaHor{
        margin-left: 380px;
    }
    .AltaTurnos, .AltaGrado{
        width: 200px;
        height: 25px;
        border-radius: 8px;
        margin-bottom: 20px;
        
    }
    .AltaHorarios,.AltaLugares{
       width: 200px;
        height: 25px;
        border-radius: 8px;
        margin-left: 395px;
    }
    .AltaGuardar{
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaCancelar{
        margin-top: 20px;
        margin-left: 605px;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }
    .TablaAlumnos,.TablaAltaUsuarios{
        margin: 0 auto;
        text-align: center;
        background: rgba(255,255,255,.25)
        
    }
    .TablaEditarUsuarios{
        margin: 0 auto;
        text-align: justify;
        background: rgba(255,255,255,.25)
    }
  .TablaCargaDeArchivo{
  background: rgba(255,255,255,.0);
}
    .TituloEditAlum{
        
        text-align: center;
    }
    
    .TextEditAlum{
        font-size: 17px;
        
    }
    #BusquedaAlumno{
        margin-top: 25px;
        height: 25px;
        border-radius: 8px;
    }
    .ButtonBuscarAlum{
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #3e73a3;
        border: 0;
        
    }
    .ButtonEditar{
        border: 0;
        border-radius: 8px;
        height: 25px;
        width: 80px;
        color: white;
        background: #f4c842;
    }
    
    .UsuarioAlta{
    width: 250px;
    height: 35px;
    margin-left: 13px;
    border-radius: 8px; 
    margin-bottom: 25px;

    }
    
        .AltaUsuarioGuardar{
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #58ce64;
        color: white;
        border: 0;
        
    }
    .AltaUsuarioCancelar{
        
        margin-right: 10px;
        width: 90px;
        height: 30px;
        border-radius: 8px;
        background: #ce5858;
        color: white;
        border: 0;
    }
    .TablaAlumnos1,.TablaAlumnos2,.TablaCargaDeArchivo{

        margin: 0 auto; text-align: center;
    }
    
    .TablaAlumnos2,.TablaCampos{
        background: rgba(255,255,255,.65)

    }
    .BtnTablaAlumno{
        width: 120px;
        height: 27px;
        background: rgb(91, 183, 88);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border:0;
        
    }
    
    .BtnTablaCampos{
        width: 120px;
        margin-left: 30px;
        height: 27px;
        background: rgb(183, 74, 44);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        border: 0;
    }
    
    .ButtonCarga{
        background: rgb(237, 97, 97);
        height: 27px;
        border: 0;
        width: 180px;
        color: white;
        border-radius: 8px;
    }
    .TextCiclo{
        height: 27px;
        border: 0;
        width: 210px;
        color: white;
        border-radius: 8px;
        text-align: center;
    }
    
    .Ciclos{
        border: 0;
        text-align: center;
        border-radius: 8px;
        height: 20px;
    }
    .buttonAgregar{
        margin-left: 15px;
        margin-right: 15px;
        border: 0;
        border-radius: 8px;
        width: 25px;
        background: rgb(209, 64, 79);
        color: white
    }
    .TablaParaCarga,.TablaBaseAlumno{
        margin-left: 0%;
    }
    .TablaParaCarga2,.TablaBaseCampos{
        margin-left: -1000%
    }
    
    .mostrar{
        margin-left: 0%;
    }
    
    .ocultar{
        margin-left: -1000%;
    }
    
   
  
    
    .TablaBaseCampos{
        z-index: 1;
        margin-top: -115px;
    }
    .TablaParaCarga2{
        z-index: 1;
        margin-top: -137px;
    }
    
    .TablaValidacion{
        margin: 0 auto;
        margin-top: 100px;
    }
    .TablaValDoc{
        margin: 0 auto;
        background: rgba(255,255,255,.45);
        text-align: justify;
        
    }
    
    
    
    }